body{
	flex: 1 0 auto;
	background-color: #FFBFD8;
    overflow: hidden;
    color: #637074;
}

div#header a{
	color: #C67B98;
}

.btn{
	background-color: #EF7977;
}

.collapsible, .collapsible-header{
	background-color: rgba(0,0,0,0);
	border: 0;
	box-shadow: 0 0;
	text-align: left;
	margin-left: 10%;
}

.collapsible-body{
	border-bottom: 0;
	text-align: left;
}

#division-tabs{
	margin-top: 5%;
}

#division-tabs ul{
	background-color: rgba(255,255,255,0);
	color: ;
	font-family: lemon;
}

#diet-container{
	font-family: godita;
	margin-top: 5%;
	margin-bottom: 2%;
	height: 250px;
	/* remove after debugging */
	width: 1700px;
	margin-left: -200px;
	height: 500px;
}

.collapsible-header label{
	color: #404D54;
}

table{
	width: 50%;
	margin-left: 30%;
	border: 1px solid black;
}

td{
	font-family: roboto;
	font-size: 10px;
	height: 25px;
	padding: 2px;
}