body{
	flex: 1 0 auto;
	background-color: #FFBFD8;
    overflow: hidden;
    color: #637074;
}

div#header a{
	color: #C67B98;
}

.btn{
	background-color: #EF7977;
}

.collapsible, .collapsible-header{
	background-color: rgba(0,0,0,0);
	border: 0;
	box-shadow: 0 0;
	text-align: left;
	margin-left: 10%;
}

.collapsible-body{
	background-color: rgba(0,0,0,0.1);
	border-bottom: 0;
}

ul.tabs{
	height: 120%;
	overflow-x: auto;
}

