body{
	flex: 1 0 auto;
	background-color: #C7EDE4;
    overflow: hidden;
    color: #637074;
}

div#header a{
	color: #769FB6;
}

input.constraint{
	width: 300px;
}

#addConstraint i{
	font-size: 19px;
	vertical-align: text-bottom;
	color: #28AFB0;
}

#tableau-container{
	margin-left: 17%;
	margin-top: 5%;
	height: 500px;
	width: 600px;
}

thead{
	background-color: rgba(100,100,100,0.1);
	border-bottom: 1px solid gray;
}

thead td{
	font-weight: 600;
}

table{
	border: 1px solid gray;
	margin-bottom: 10px;
}

td{
	text-align: center;
}

#prev-link i, #next-link i{
	margin-top: 100px;
}

#current-tableau{
	display: none;
}