body{
	flex: 1 0 auto;
	background-color: #C7EDE4;
    overflow: hidden;
    color: #637074;
}

div#header a{
	color: #769FB6;
}

input.constraint{
	width: 300px;
}

#addConstraint i{
	font-size: 19px;
	vertical-align: text-bottom;
	color: #28AFB0;
}